<!DOCTYPE html>
<html>
  <head>
    <title>WebpackRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <link href="http://diegoddox.github.io/react-redux-modal/0.1.0/react-redux-modal.min.css" rel="stylesheet" type="text/css">

    <%= javascript_include_tag 'application'%>

    <base href="/" basename='' />
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag *webpack_asset_paths("react_application") %>

    <script src="http://localhost:3808/webpack-dev-server.js"></script>
  </body>
</html>
